@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4F46E5;
  --secondary: #10B981;
  --dark: #1F2937;
  --light: #F3F4F6;
}

body {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Times New Roman', Times, serif;
  background-color: #f9fafb;
  color: var(--dark);
  line-height: 1.6;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}

.timeline-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: -38px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary);
}

.gradient-text {
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.cursor {
  display: inline-block;
  width: 3px;
  /* background-color: var(--primary); */
  margin-left: 4px;
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.typing-container {
  display: inline-block;
}